/* body */ 
body {
  background-color: black;
  background-size: 100%;
}

/* Cursor */
* {
	cursor: url("cursors/zombie.cur");
}

/* text adjustment */
h1 {
	font-size: 65px;
	background: -webkit-radial-gradient(#AD0000	, #262626	);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-family: 'bebas_neueregular';
}

h6 {
	font-family: 'Georgia';
	color: black;
	font-size: 18px;
}

p{
	color: white;
	font-size: 36px;
}

b {
	color: red;
	font-size: 40px;
}

li { 
	color: white;
	font-size: 24px;
	margin-bottom: 20px;
}

h2 {
	font-family: 'Georgia';
	color: white;
	font-size: 32px;
}

@font-face {
    font-family: "bebas_neueregular";
    src: url("fonts/bebasneue-regular-webfont.woff2") format('woff2'),
         url("fonts/bebasneue-regular-webfont.woff") format('woff');
    font-weight: normal;
    font-style: normal;
}


/* grid content */
.g001 {
	display: grid;
	grid-template-columns: 512px 512px;
}
 .g002 {
  text-align: center;
  margin-left: 125 px;
 }
 
 .g003 {
  display: grid;
  grid-template-columns: 50px 700px;
  grid-column-gap: 50px;
}
.g004{
  font-size: 30px;
}

.g006 {
	display: grid;
	grid-template-columns: repeat(5 ,100px);
}
.g007 {
	background-color: white;
}

.g008 {
	display: grid;
	grid-template-columns: repeat(3, 250px);
	justify-content: center;
	grid-gap: 25px;
}
.g009 {
	text-align: center;
}

.g010 {
	display: grid;
	grid-template-columns: 1000px;
	justify-content: center;
	margin-bottom: 50px;
}
.g011 {
	text-align: center;
}

.g012 {
	display: grid;
	grid-template-columns: 1000px;
	justify-content: center;
	grid-gap: 100px;
}
.g013 {
	text-align: center;
}

.g014 {
	display: grid;
	grid-template-columns: 400px 400px;
	grid-gap: 100px;
	justify-content: center;
}
.g015 {
	text-align: center;
}

.g016 {
	display: grid;
	grid-template-columns: repeat(4 ,400px);
	justify-content: center;
}
.g017 {
	text-align: center;
}

/* Flexbox */
.f001 {
	display: flex;
	justify-content: center;
}
.f002 {
	text-align: center;
}
.f003 {
	text-align: center;
}

/*text */
.t001 {
	text-align: center;
}
 
 /* img alignment */
 .i001 {
	width: 25px;
	height: 25px;
 }
 
 /* Menubar */
 .dropbtn {
    background-color: black;
    color: white;
    padding: 16px;
  
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;

}

.dropdown-content a {
	color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
	font-family: 'bebas_neueregular';
	font-size: 20px;
}

.dropdown-content a:hover {background-color: #A7E8E6}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: black;
}

html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}
